<% provide(:title, I18n.t("static_pages.about.title")) %>
<h1><%= I18n.t "static_pages.about.title"%></h1>
<p>
  <%= I18n.t "static_pages.about.p1"%>
  <%= link_to "Ruby on Rails Tutorial",
    "https://www.railstutorial.org"%> <%= I18n.t "static_pages.about.p2"%>
  <%= link_to "book", "https://www.railstutorial.org/book"%>
  <%= I18n.t "static_pages.about.p3"%>
  <%= link_to "screencast series", "http://screencasts.railstutorial.org/"%>
  <%= I18n.t "static_pages.about.p4"%>
  <%= link_to "Ruby on Rails", "http://rubyonrails.org/"%>.
  <%= I18n.t "static_pages.about.p5"%>
</p>
