<% provide(:title, t("static_pages.help.title")) %>
<h1><%= t "static_pages.help.title" %></h1>
<p>
  <%= t("static_pages.help.p1") %>
  <%= link_to t("static_pages.help.help_section"),
    "https://www.railstutorial.org/help" %>
  <%= t("static_pages.help.p2") %>
  <%= link_to t("RORT"),
    "https://www.railstutorial.org/book" %>
</p>
